@charset "UTF-8";
body {
  margin: 0px;
  padding: 0px; }

section {
  padding-bottom: 140px; }

/* En-tête*/
header .title {
  font-family: 'Righteous', cursive;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #669A88;
  width: 100%;
  height: 80px;
  font-size: 40px; }

header a{
    text-decoration: none;}

header .yellow {
    color: #F6CB60}

.yellow {
  color: #F6CB60; }

/* Menu 1 - La note enchantée*/
.titre_menu {
  font-family: 'Zhi Mang Xing', cursive;
  font-weight: normal;
  font-size: 55px; }

.menu {
  font-family: 'Calistoga', cursive;
  background-color: #F7E0DC;
  color: #381519;
  width: 50%;
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 20px;
  box-shadow: 0px 0px 9px grey;
  text-align: center;
  font-size: 27px; }
  .menu p {
    color: #381519; }

.txt.txt1 {
  margin-top: 0px; }

.txt {
  font-family: 'Sue Ellen Francisco', cursive;
  width: 100%;
  margin-top: 120px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  justify-content: space-between; }
  .txt p {
    margin: 0px;
    font-family: 'Caveat', cursive;
    font-size: 31px; }
  .txt .img {
    margin-bottom: 20px;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    line-height: 30px; }

.button1.button--police1 {
  font-family: 'Caveat', cursive;
  font-size: 30px;
  color: #381519; }

/* Menu 2 - Le chic à la francaise*/
.menu--gradient2 {
  font-family: 'Croissant One', cursive;
  font-weight: normal;
  font-size: 40px;
  background: -webkit-linear-gradient(left, #D68D36, #9565D1);
  -webkit-background-clip: text;
  color: transparent; }

.menu2 {
  background-color: #FDF5FD; }

.txt.police2 {
  margin-top: 40px; }

.txt .police2 {
  font-family: 'Lora', serif; }

.img2 {
  margin-top: 70px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  flex-direction: row; }

.button1.police2.couleur1 {
  font-size: 20px;
  color: #D68D36;
  text-decoration: none;
  background: linear-gradient(to top, #d68d36 0%, #d68d36 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s; }

a.button1.police2.couleur1:hover {
  background-size: 100% 100%; }

.button1.police2.couleur2 {
  color: #9C6A96;
  text-decoration: none;
  background: linear-gradient(to top, #9c6a96 0%, #9c6a96 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s; }

a.button1.police2.couleur2:hover {
  background-size: 100% 100%; }

.button1.police2.couleur3 {
  color: #694EC5;
  text-decoration: none;
  background: linear-gradient(to top, #694ec5 0%, #694ec5 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s; }

a.button1.police2.couleur3:hover {
  background-size: 100% 100%; }

.Plats2, .Plats3 {
  margin-top: 40px;
  display: flex;
  align-items: flex-end;
  font-size: 20px; }

.Plats2 {
  font-size: 18px;
  width: 95%;
  line-height: 30px;
  font-family: 'Caveat', cursive;
  justify-content: space-between;
  margin-left: 20px;
  text-align: left; }

.police2.couleur1 {
  color: #D68D36; }

.police2.couleur2 {
  color: #9C6A96; }

.police2.couleur3 {
  color: #694EC5; }

/* Menu 3 - le délice des papilles*/
.menu--gradient3 {
  font-family: 'Cookie', cursive;
  font-weight: normal;
  font-size: 80px;
  background: -webkit-linear-gradient(left, #163ADA, #4188F3);
  -webkit-background-clip: text;
  color: transparent; }

.menu3 {
  background-color: #FFF; }

.button1.button--police3 {
  font-size: 30px; }

/* Menu 4 - La palette du gout*/
.menu--gradient4 {
  font-family: 'Merienda', cursive;
  font-style: italic;
  font-size: 55px;
  background: -webkit-linear-gradient(left, #629E4F, #CCFD8F);
  -webkit-background-clip: text;
  color: transparent; }

.menu4 {
  background-color: #FFF; }

.Plats.police4 {
  font-family: 'Handlee', cursive;
  font-size: 17px;
  color: black; }

.button1.button--police4 {
  font-family: 'Handlee', cursive;
  font-size: 23px;
  color: black; }

/* Menu 1, 2, 3 et 4*/
.section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  font-size: 15px; }

h1 {
    text-align: center;
    font-weight: bold;
    color: #353535;
    font-family: 'Manrope', sans-serif;
    font-size: 35px;}

.Sous_titre {
  margin-top: 100px; }

.Plats {
  width: 85%;
  line-height: 30px;
  font-family: 'Caveat', cursive;
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  margin-left: 40px;
  font-size: 20px;
  text-align: left; }

.trait2 {
  width: 30%;
  margin-left: 10px; }

.trait1 {
  width: 30%;
  margin-right: 10px; }

.fab {
  font-size: 45px;
  background: -webkit-linear-gradient(#E05F62, #EA945E);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent; }

.button1 {
  font-size: 21px;
  font-weight: bold;
  font-family: 'Caveat', cursive;
  color: inherit;
  text-decoration: none;
  background: linear-gradient(to top, #34171a 0%, #34171a 2px, transparent 2px) no-repeat;
  background-size: 0% 100%;
  transition: background-size 0.3s; }

a.button1:hover {
  background-size: 100% 100%; }

.button {
  text-decoration: none; }
  .button a:hover {
    display: inline-block;
    text-decoration: none;
    transform: rotate(10deg);
    -webkit-animation-duration: 10s;
    animation-duration: 10s;
    -webkit-animation-name: wiggle;
    animation-name: wiggle;
    -webkit-animation-timing-function: ease-in;
    animation-timing-function: ease-in; }

/* Pied de page*/
footer #end {
  position: fixed;
  bottom: 0px;
  font-family: 'Roboto', sans-serif;
  display: flex;
  height: 80px;
  flex-direction: row;
  justify-content: space-around;
  background-color: #669A88;
  align-items: center;
  width: 100%;
  margin-top: 60px; }

.button {
  text-decoration: none; }

a.button:hover {
  display: inline-block;
  text-decoration: none;
  transform: rotate(10deg);
  -webkit-animation-duration: 10s;
  animation-duration: 10s;
  -webkit-animation-name: wiggle;
  animation-name: wiggle;
  -webkit-animation-timing-function: ease-in;
  animation-timing-function: ease-in; }

@keyframes wiggle {
  0% {transform: rotate(0deg); }
  3% {transform: rotate(-4deg); }
  4% {transform: rotate(4deg); }
  5% {transform: rotate(0deg); }
  6% {transform: rotate(-4deg); }
  7% {transform: rotate(4deg); }
  8% {transform: rotate(0deg); }
  10% {transform: rotate(-6deg); }
  12% {transform: rotate(3deg); }
  14% {transform: rotate(0deg); }
  16% {transform: rotate(-8deg); }
  18% {transform: rotate(6deg); }
  20% {transform: rotate(0deg); }
  100% {transform: rotate(0deg); } }

/*# sourceMappingURL=style.css.map */
