@charset "UTF-8";
@media all and (max-width: 1235px) {
  /* Menu 2 - Le chic a la française*/
  .police2.couleur1 {
    font-size: 19px; }

  /* Menu 3 - le délice des papilles*/
  .img.img--resp3 {
    /* Menu 4 - La palette du gout*/ }
    .img.img--resp3 .trait1, .img.img--resp3 .trait2 {
      width: 27%; }
    .img.img--resp3 .Plats.police4 {
      margin-bottom: 35px;
      width: 90%;
      margin-left: 20px; } }
@media all and (max-width: 1235px) and (max-width: 1150px) {
  /* Menu 2 - Le chic a la française*/
  .button1.police2.couleur1, .button1.police2.couleur2, .button1.police2.couleur3 {
    font-size: 16px; }

  .Plats2.police2.couleur1, .Plats2.police2.couleur2, .Plats2.police2.couleur3 {
    font-size: 14px; }

  /* Menu 3 - le délice des papilles*/
  .img.img--resp3 .trait1, .img.img--resp3 .trait2 {
    width: 20%; } }
@media all and (max-width: 1235px) {
  /* Menu 4 - La palette du gout*/
  .Plats.police4 {
    width: 90%;
    margin-left: 15px;
    font-size: 15px; } }
@media all and (max-width: 1095px) {
  /* Menu 1 - La note enchantée*/
  .Plats.police1 {
    width: 90%;
    margin-left: 20px; }

  /* Menu 4 - La palette du gout*/
  .Plats.police4 {
    width: 95%;
    margin-left: 20px; } }
@media all and (max-width: 1035px) {
  /* Menu 1 - La note enchantée*/
  .Plats.police1 {
    width: 90%;
    font-size: 18px;
    margin-left: 10px; }

  /* Menu 4 - La palette du gout*/
  .Plats.police4 {
    width: 93%;
    font-size: 15px;
    margin-left: 5px; } }
@media all and (max-width: 975px) {
  /* Menu 3 - le délice des papilles*/
  .Plats.Plats--resp3 {
    width: 93%;
    margin-left: 20px; }

  /* Menu 4 - La palette du gout*/
  .Plats.police4 {
    width: 93%;
    font-size: 14px; }

  .button1.button--police4 {
    font-size: 20px; } }
@media all and (max-width: 955px) {
  /* Menu 2 - Le chic a la française*/
  .button1.police2.couleur1, .button1.police2.couleur2, .button1.police2.couleur3 {
    font-size: 14px; }

  .Plats2.police2.couleur1, .Plats2.police2.couleur2, .Plats2.police2.couleur3 {
    font-size: 11px;
    margin-left: 10px;
    width: 95%; } }
@media all and (max-width: 935px) {
  /* Menu 1 - La note enchantée*/
  .Plats.police1 {
    width: 98%;
    margin-left: 2px; }

  /* Menu 4 - La palette du gout*/
  .Plats.police4 {
    font-size: 13px; } }
@media all and (max-width: 878px) {
  /* Menu 1 - La note enchantée*/
  .menu.menu--resp1 {
    width: 60%; }

  /* Menu 3 - le délice des papilles*/
  .button1.button--police3 {
    font-size: 23px; }

  .Plats.Plats--resp3 {
    width: 92%;
    font-size: 17px; }

  /* Menu 4 - La palette du gout*/
  .menu.menu--resp4 {
    width: 60%; } }
@media all and (max-width: 765px) {
  /* Menu 2 - Le chic a la française*/
  .menu.menu2 {
    width: 60%; }

  /* Menu 3 - le délice des papilles*/
  .Plats.Plats--resp3 {
    width: 94%;
    font-size: 15px;
    margin-left: 10px; } }
@media all and (max-width: 720px) {
  /* Menu 1 - La note enchantée*/
  .menu.menu--resp1 {
    width: 70%; }

  /* Menu 2 - Le chic a la française*/
  .menu.menu2 {
    width: 70%; }

  /* Menu 4 - La palette du gout*/
  .menu.menu--resp4 {
    width: 70%; } }
@media all and (max-width: 655px) {
  /* Menu 1 - La note enchantée*/
  .button1.button--police1 {
    font-size: 23px; }

  /* Menu 2 - Le chic a la française*/
  .menu.menu2 {
    width: 80%; }

  .Plats2.police2.couleur1, .Plats2.police2.couleur2, .Plats2.police2.couleur3 {
    font-size: 15px;
    margin-left: 10px;
    width: 95%; }

  /* Menu 3 - le délice des papilles*/
  .Plats.Plats--resp3 {
    width: 98%;
    font-size: 15px;
    margin-left: 2px; }

  .menu.menu3 {
    width: 60%; }

  .button1.button--police3 {
    font-size: 20px; }

  /* Menu 4 - La palette du gout*/
  .txt.police4 {
    margin-top: 50px; }

  .button1.button--police4 {
    font-size: 18px; } }
@media all and (max-width: 615px) {
  /* Menu 1 - La note enchantée*/
  .Plats.police1 {
    font-size: 16px; }

  .button1.button--police1 {
    font-size: 23px; }

  /* Menu 3 - le délice des papilles*/
  .menu.menu3 {
    width: 70%; }

  /* Menu 4 - La palette du gout*/
  .menu.menu--resp4 {
    width: 80%; }

  .Plats.police4 {
    font-size: 11px; }

  .txt.police4 {
    margin-top: 50px; }

  .button1.button--police4 {
    font-size: 18px; } }
@media all and (max-width: 570px) {
  /* Menu 1 - La note enchantée*/
  .menu.menu--resp1 {
    width: 80%; }

  /* Menu 4 - La palette du gout*/
  .button1.button--police4 {
    font-size: 15px; } }
@media all and (max-width: 411px) {
  /* Menu 1 - La note enchantée*/
  .Plats.police1 {
    font-size: 11px; }

  .Sous_titre.Sous_titre--resp1 {
    margin-top: 30px; }

  .button1.button--police1 {
    font-size: 17px; }

  .txt {
    margin-top: 0px; }
    .txt .img.img--resp1 {
      margin-top: 0px; }

  /* Menu 2 - Le chic a la française*/
  .menu.menu2 {
    width: 90%; }

  .Plats2.police2.couleur1, .Plats2.police2.couleur2, .Plats2.police2.couleur3 {
    font-size: 9px;
    margin-left: 5px;
    width: 97%; }

  /* Menu 3 - le délice des papilles*/
  .button1.button--police3 {
    font-size: 16px; }

  .menu--gradient3 {
    font-size: 40px; }

  .Plats.Plats--resp3 {
    font-size: 12px; }

  /* Menu 4 - La palette du gout*/
  .button1.button--police4 {
    font-size: 12px; }

  .Plats.police4 {
    font-size: 10px; } }
@media all and (max-width: 320px) {
  /* Menu 1 - La note enchantée*/
  .Sous_titre .sous_titre--resp1 {
    margin-top: 30px; }

  .menu.menu--resp1 {
    width: 85%; }

  .img.img--resp1 {
    margin-bottom: 5px;
    margin-top: 15px; }

  .button1.button--police1 {
    font-size: 16px; }

  /* Menu 2 - Le chic a la française*/
  .menu.menu2 {
    width: 90%; }

  .img2 .trait1, .img2 .trait2 {
    width: 21%; }

  .button1.police2.couleur1, .button1.police2.couleur2, .button1.police2.couleur3 {
    font-size: 12px; }

  .Plats2.police2.couleur1, .Plats2.police2.couleur2, .Plats2.police2.couleur3 {
    font-size: 8px;
    margin-left: 5px;
    width: 96%; }

  /* Menu 3 - le délice des papilles*/
  .Sous_titre {
    margin-top: 50px; }

  .txt {
    margin-top: 40px; }
    .txt .img.img--resp3 {
      margin-top: 0px; }

  .button1.button--police3 {
    font-size: 14px; }

  .menu--gradient3 {
    font-size: 40px; }

  .Plats.Plats--resp3 {
    font-size: 10px; }

  /* Menu 4 - La palette du gout*/
  .titre_menu.menu--gradient4 {
    font-size: 45px; }

  .menu.menu--resp4 {
    width: 90%; }

  .button1.button--police4 {
    font-size: 12px; }

  .Plats.police4 {
    font-size: 9px; } }

/*# sourceMappingURL=Responsive.css.map */
